html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.row {
	width: 90%;
	max-width: 2000px;
	margin: 0 auto;
}

.col {
	width: 31%;
	margin-right: 2%;
	float: left;
}

.lastCol {
	margin-right: 0;
}

/*Topnav styling*/

#search {
	display: none;
}

header {
	background-color: #cccccc;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

header #logo {
	height: 50px;
	width: auto;
	margin-top: 1.5%;
}


header input[type=text] {
	font-size: 120%;
	width: 40%;
	position: relative;
	bottom: 15px;
	left: 13%;
}

header nav ul li {
	list-style-type: none;
	display: inline;
	padding: 15px;
}

header nav {
	float: right;
}

header nav ul {
	padding: 25px;
}

header a {
	text-decoration: none;
	color: black;
	font-size: 120%;
	font-family: sans-serif;
}

header a:hover {
	color: gray;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
} 

#openbutton {
	font-size: x-large;
	background-color: #cccccc;
	border: none;
	width: auto;
	margin-left: 2%;
	position: relative;
	bottom: 15px;
}

#openbutton:hover {
	color: gray;
}

/*Sidenav Styling*/
.sidenav {
	background-color: #cccccc;
	padding: 10px;
    position: fixed;
    overflow: hidden;
	margin-top: -5%;
	width: 15%;
	height: 100%;
	text-align:center;
}

.sidenav nav ul li {
	list-style-type: none;
	padding: 15px;
	display: inline-block;
	line-height: 25px;
}

.sidenav nav {
	float: right;
}

.sidenav nav ul {
	padding: 0px 25px 25px 25px;
}

.sidenav a {
	text-decoration: none;
	color: black;
	font-size: 120%;
	font-family: sans-serif;
	display:inline-block;
}

.sidenav a:hover {
	color: gray;
}

.sidenav span {
	font-size: 100%;
}

#closebutton {
	font-size: large;
	background-color: #cccccc;
	border: none;
	width: auto;
	margin-bottom: 0;
	float: left;
}

#closebutton:hover {
	color: gray;
}

.w3-sidebar{height:100%;width:245px;z-index:1;overflow:auto}

/*Content Styling*/
.content {
	margin-top: 150px;
	margin-bottom: -145px;
}

.content img {
	width: 94%;
	height: 145px;
	padding: 10px;
	float: left;
}

.content p {
	clear: left;
	font-size: 100%;
}

.content p span {
	font-weight: bold;
	font-size: 150%;
}

button {
	width: 20%;
	padding 5px;
	margin-right: 5%;
	background-color: white;
	border: 0.5px solid white;
}

#firstbutton {
	margin-left: 20%;
}

button:hover {
	border: 0.5px solid lightgray;
}

.video p .desc {display: none;}

.catVids {
	background-color: #f2f2f2;
	margin-left: 20%;
	width: 70%;
	height: 295px;
	margin-bottom: -125px;
}

.catVids button {
	display: block;
	width: 100%;
	height: 111px;
	background-color: #f2f2f2;
	border: 0.5px solid #f2f2f2;
	overflow: hidden;
}

.catVids button img {
	width: 15%;
	float: left;
}

.catVids button p {
	clear: none;
	text-align: left;
}

.catVids button:hover {
	border: 0.5px solid #cccccc;
}

.catVids h2 {
	margin-left: 2%;
	padding-top: 10px;
}

/*Footer Styling*/

.content.foot{
	margin-left: 20%;
	margin-top: 10%;
	padding: 25px;
	text-align: center;
	border-top: 0.5px solid lightgray;
	width: 70%;
}


/*Media Queries*/
@media screen and (max-width:1600px) {
	#openbutton {display:none;}
	#closebutton {display:none;}
	.sidenav {display: inline;}
}

@media screen and (max-width: 1200px) {
	#openbutton {display: inline;}
	#closebutton {display: inline;}
	.sidenav {margin-top: -6%; display: none;}
	.catVids {display: none;}
	#firstbutton.newFirst {margin-left:0;}
	.newFirst {margin-left:0;}
	.video {display: block;}
	.video p {clear:none; text-align: left}
	.content button {
		display: block;
		width: 100%;
	}
	.content img {
		width: 95%;
		height: 450px;
		float: left;
	}
	
	.content p {
		font-size: 400%;
		clear: left;
		text-align: center;
	}
	.video p .desc {
		display: none; 
		font-weight: normal; 
		text-align: left;
		clear:none;
	}
	
	header {
		height: 175px;
	}
	
	header a {
		font-size: 350%;
	}
	
	header #logo {
		height: 150px;
		margin-left: -4%;
		width: 30%;
	}
	
	header nav ul {
		position: relative;
		top: 12px;
	}
	
	.content {
		margin-top: 225px;
		margin-bottom: -220px;
	}
	
	header input[type=text] {
		display: none;
	}
	
	footer {
		display: none;
	}
	
	#openbutton {
		font-size: 450%;
		bottom: 50px;
		margin-left: 5%;
		margin-right: 0;
	}
	
	.sidenav {
		width: 100%;
	}
	
	.sidenav nav {
		float:none;
		padding-top: 75px;
		font-size: 350%;
	}
	
	.sidenav nav ul {
		line-height: 1.7;
	}
	
	.sidenav a {
		display: block;
		align-text: center;
	}
	
	#closebutton {
		font-size: 375%;
		margin-top: 3%;
		margin-left: 2%;
	}
	
	#search input[type=text] {
		display: inline;
		font-size: 375%;
		width: 65%;
		position: relative;
		left: 9%;
		top: 27%;
	}
}